<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs478.exampleservice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher">

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" >

            <intent-filter>
                <!--Notice that this action's name is the same as the location of the .aidl file.
        This is because the client has a copy of the entire .aidl package, which it can
        use to resolve the intent as an explicit intent-->
                <action android:name="com.cs478.services.IExampleAIDL"/>
            </intent-filter>

        </service>
    </application>

</manifest>